*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  position: relative; }

.heading__primary {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  text-align: center; }
  @media only screen and (max-width: 550px) {
    .heading__primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 400px) {
    .heading__primary {
      font-size: 2rem; } }

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: .5s; }

.footer {
  padding: 2rem 15rem;
  background: black;
  color: gray; }
  @media only screen and (max-width: 800px) {
    .footer {
      padding: 2rem 5rem; } }
  .footer img {
    height: 4rem;
    display: block; }
  .footer p {
    font-size: 1rem;
    margin-top: 1rem; }

.contact__container {
  padding: 0 15rem;
  padding-bottom: 10rem;
  display: flex;
  gap: 2rem; }
  @media only screen and (max-width: 800px) {
    .contact__container {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 600px) {
    .contact__container {
      padding: 2rem; } }
  @media only screen and (max-width: 700px) {
    .contact__container {
      flex-direction: column;
      gap: 4rem; } }
  .contact__container iframe {
    width: 100%;
    height: 35rem;
    flex: 2; }
    @media only screen and (max-width: 700px) {
      .contact__container iframe {
        order: 1; } }

.contact__details {
  flex: 1; }
  @media only screen and (max-width: 700px) {
    .contact__details {
      order: 2; } }
  .contact__details h2 {
    color: #333;
    margin-bottom: 4rem; }
  .contact__details__container {
    list-style: none; }
    .contact__details__container li {
      display: flex;
      align-items: center;
      gap: 3rem;
      color: #333; }
      .contact__details__container li svg {
        width: 2rem;
        height: 2rem;
        fill: #333; }
      .contact__details__container li p {
        font-size: 1.4rem; }
      .contact__details__container li:not(:last-child) {
        margin-bottom: 2rem; }

.contact__social {
  margin-top: 5rem;
  display: flex;
  gap: 3rem; }
  .contact__social svg {
    width: 3rem;
    height: 3rem; }

.home {
  height: 100vh;
  height: 100vh;
  background-image: url("./../images/first_bg.webp");
  margin-top: -8.5rem;
  background-attachment: fixed;
  background-size: cover; }
  @media only screen and (max-width: 800px) {
    .home {
      height: 50vh; } }
  .home__services {
    background: white;
    padding: 10rem 15rem;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .home__services {
        padding: 10rem 5rem; } }
    @media only screen and (max-width: 600px) {
      .home__services {
        padding: 5rem; } }
    @media only screen and (max-width: 450px) {
      .home__services {
        padding: 2rem; } }
    .home__services__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
      margin-top: 5rem; }
      @media only screen and (max-width: 600px) {
        .home__services__container {
          margin-top: 0rem; } }
  .home__works {
    background: #eee;
    padding: 10rem 15rem; }
    @media only screen and (max-width: 800px) {
      .home__works {
        padding: 10rem 5rem; } }
    @media only screen and (max-width: 450px) {
      .home__works {
        padding: 2rem; } }
    .home__works__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      gap: 2rem;
      margin-top: 5rem; }
      @media only screen and (max-width: 600px) {
        .home__works__container {
          margin-top: 0rem; } }

.contact h2 {
  color: white;
  margin-bottom: 6rem; }

.portfolio {
  padding: 0 15rem;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 800px) {
    .portfolio {
      padding: 0 5rem; } }
  @media only screen and (max-width: 450px) {
    .portfolio {
      padding: 0 2rem; } }
  .portfolio > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); }

.nav {
  height: 8.5rem;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav__logo {
    height: 4rem;
    display: block; }
    @media only screen and (max-width: 500px) {
      .nav__logo {
        height: 3.8rem; } }
  .nav__container {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem; }
    @media only screen and (max-width: 900px) {
      .nav__container {
        display: none; } }
  .nav__link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: .2s; }
    .nav__link:hover {
      color: #6ef16e; }
  .nav__responsive {
    display: none; }
    @media only screen and (max-width: 900px) {
      .nav__responsive {
        display: block; } }
    .nav__responsive__list {
      list-style: none;
      position: fixed;
      top: 50%;
      left: -10%;
      z-index: 15;
      transform: translate(-50%, -50%);
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      opacity: 0;
      visibility: hidden; }
      .nav__responsive__list li a {
        font-size: 2rem; }
      .nav__responsive__list li:not(:last-child) {
        margin-bottom: 2rem; }
    .nav__responsive__inp:checked ~ .nav__responsive__list {
      left: 50%;
      opacity: 1;
      visibility: visible; }
    .nav__responsive__background {
      position: fixed;
      top: 2.5rem;
      right: 2.5rem;
      background: black;
      width: 1rem;
      height: 1rem;
      z-index: 10;
      border-radius: 100%;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .nav__responsive__inp:checked ~ .nav__responsive__background {
      transform: scale(300); }
    .nav__responsive__inp:checked ~ .nav__button .nav__icon {
      background: transparent; }
    .nav__responsive__inp:checked ~ .nav__button .nav__icon::after {
      top: 0;
      transform: rotate(45deg); }
    .nav__responsive__inp:checked ~ .nav__button .nav__icon::before {
      top: 0;
      transform: rotate(-45deg); }
  .nav__button {
    display: flex;
    width: 7rem;
    height: 7rem;
    background-color: transparent;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 20; }
  .nav__icon {
    display: block;
    width: 3rem;
    height: .3rem;
    background: gray;
    position: relative;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .nav__icon::after, .nav__icon::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: gray;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      left: 0; }
    .nav__icon::after {
      top: -1rem; }
    .nav__icon::before {
      top: 1rem; }

#menu {
  display: none; }

.cardPrimary {
  height: 33rem;
  transition: .3s;
  cursor: pointer; }
  .cardPrimary img {
    display: block;
    width: 100%;
    height: 27rem;
    object-fit: cover; }
  .cardPrimary__desc {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    transition: .3s; }
    .cardPrimary__desc p {
      font-size: 1.1rem;
      letter-spacing: 7px;
      position: relative;
      font-weight: 600; }
      .cardPrimary__desc p::after {
        content: '';
        position: absolute;
        width: 100%;
        background: white;
        height: 1px;
        top: 100%;
        left: 0;
        transition: .3s;
        margin-top: 2px; }
  .cardPrimary:hover {
    box-shadow: -1px 3px 38px 5px rgba(0, 0, 0, 0.22); }
  .cardPrimary:hover .cardPrimary__desc {
    background: white;
    color: black; }
    .cardPrimary:hover .cardPrimary__desc p::after {
      background: black; }

.cardSecondary__img {
  position: relative;
  cursor: pointer; }
  .cardSecondary__img img {
    display: block;
    width: 100%;
    height: 100%; }
  .cardSecondary__img svg {
    width: 5rem;
    height: 5rem;
    fill: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .cardSecondary__img:hover {
    box-shadow: -1px 3px 38px 5px rgba(0, 0, 0, 0.22); }

.cardSecondary__desc h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase; }

.cardSecondary__desc h3 {
  font-size: 1.4rem;
  color: gray;
  font-weight: 400; }

.btn {
  display: block;
  border: none;
  background: transparent;
  text-decoration: none; }
  .btn__block {
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: inherit;
    cursor: pointer;
    transition: .3s;
    margin-top: 5rem; }
    .btn__block--black {
      color: black;
      border: 1px solid black; }
      .btn__block--black:hover {
        background: black;
        color: white; }
      .btn__block--black:hover svg {
        fill: white; }
      .btn__block--black svg {
        width: 1rem;
        height: 1rem;
        fill: black; }
    .btn__block--white {
      color: white;
      border: 1px solid white; }
      .btn__block--white:hover {
        background: white;
        color: black; }
      .btn__block--white:hover svg {
        fill: black; }
      .btn__block--white svg {
        width: 1rem;
        height: 1rem;
        fill: white; }

.contact {
  min-height: 100vh;
  padding: 10rem 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 800px) {
    .contact {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 450px) {
    .contact {
      padding: 2rem; } }
  .contact__form input, .contact__form textarea {
    display: block;
    width: 100%;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-style: italic;
    font-weight: 600;
    padding-bottom: 1rem; }
  .contact__form div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-bottom: 4rem;
    gap: 2rem; }
  .contact__home input, .contact__home textarea {
    border: none;
    font-size: 1.3rem;
    color: #cfc9c9;
    border-bottom: 1px solid white; }
    .contact__home input::placeholder, .contact__home textarea::placeholder {
      font: inherit;
      color: currentColor; }

.context {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./../images/portfolio/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -8.5rem; }
  @media only screen and (max-width: 800px) {
    .context {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 450px) {
    .context {
      padding: 2rem; } }
  .context__heading {
    max-width: 70rem;
    width: 100%;
    padding: 3rem 8rem;
    margin: 0 auto;
    transform: translateY(-50%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
    background: white;
    text-transform: uppercase; }
    @media only screen and (max-width: 600px) {
      .context__heading {
        padding: 2rem; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  transition: .2s;
  visibility: hidden;
  opacity: 0; }
  .modal__main {
    width: 85%;
    height: 80%;
    padding: 1rem;
    background: white; }
