.contact {
	padding: 10rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 20;

	@media only screen and (max-width: 800px) {
		padding: 10rem 5rem;
	}
	@media only screen and (max-width: 450px) {
		padding: 2rem;
	}
	
	&__form {
		
		input, textarea {
			display: block;
			width: 100%;
			outline: none;
			background: transparent;
			font-family: inherit;
			font-style: italic;
			font-weight: 600;
			padding-bottom: 1rem;
		}

		div {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
			margin-bottom: 4rem;
			gap: 2rem;
		}
	}

	&__home {
		input, textarea {
			border: none;
			font-size: 1.3rem;
			color: #cfc9c9;
			border-bottom: 1px solid white;

			&::placeholder {
				font: inherit;
				color: currentColor;
			}
		}
	}
}